/* @import url(""); */

.login-line {
    margin-top: 10px;
}

 .login-form_center {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertisin-img_container {

    width: 75px;
    height: 75px;
}

.advertising-label {
    margin-left: 1.em !important;
}

.overflowlist {

    margin-top: 5vh;
    max-height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    
}
.list-item {
    display: inline-block;
    margin-right: 10px;
}

.list-enter-active, .list-leave-active {
transition: all 1s;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
display: table-cell;
vertical-align: middle;
}

.modal-container {
width: 300px;
margin: 0px auto;
padding: 20px 30px;
background-color: #fff;
border-radius: 2px;
box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
transition: all .3s ease;
font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
margin-top: 0;
color: #42b983;
}

.modal-body {
margin: 20px 0;
}

.modal-default-button {
float: right;
}

.modal-enter {
opacity: 0;
}

.modal-leave-active {
opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}


.base-grid {
    display: grid;
    grid-template-columns: 15.5vw 1fr;
    grid-column-gap: 10px;
}

.products-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    padding: 20px;
}

.files-layout {
    padding: 20px;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-row-gap: 10px;
}

span.ui.dividing.header {
    font-size: 16px;
    display: inline-block;
    width: 90%;
}

#description {
    min-height: 6em;
    height: 6em;
    max-height: 10em;
}

#publicar-btn {
    margin-top: 10px;
    align-self: center;
}

.image-upload > input
{
    display: none;
}

.image-upload
{
    display: flex;
    justify-content: center;
    padding: 50px;
}

label > i.camera.icon {
    cursor: pointer;
    font-size: 30px;
}

.product-info {
    overflow-y: auto;
    overflow-x: hidden;
}

.imgwrapper {
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    grid-column-gap: 10px;
    background-color: rgba(0, 0, 0, 0.055);
}

.imagen-product {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.imagen-extra {
    grid-column: 1 /2;
    grid-row: 1 / 1;
}

img {
    max-width:100%;
    max-height:100%;
    justify-self: center;
}